body, td, p, a {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: red;
}

div#container {
	width:960px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
}

div.biblija {
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
}