/* Colors:
	#FF0000 red
	#FF7400 orange
	#009999 blueish
	#00cc00 green
	*/

body, td, p, a {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #ff7744;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #ff7744;
}

div#category-menu {
    width: 130px;
    float: left;
    position: relative;
}

div#text-content {
    position: block;
    width: 700px;
    margin-left: 150px;
    position: relative;
    float: reight
}


td.bible-pointer {
    width: 150px;
}
    
td.bible-text {
    width: 500px;
}

.bible-motivation {
    display: block;
    font-style: italic;
    color: grey;
}

.bible-email {
    display: block;
    font-style: italic;
    font-size: 10px;
    color: grey;
}

ul.menu {
    list-style-type: none;
    padding: 2px 15px;    
}

li.menu {
    float: left;
}

div#container {
	width:960px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
}

div.biblija {
    margin: 5px;
    padding: 5px;
}
